<% title "connecTarot - Login" %>
<h2>Log In</h2>
<br><%= render partial: "application/flash_message" %><br>

<%= form_for :user, method: :post do |f| %>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email, size: "25" %><p></p>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password, size: "20" %><p>&nbsp;</p>
  <%= f.submit "Login" %>
<% end %>

<p></p>
<table class="omniauth-buttons">
  <tr>
    <td colspan="2">Or, login with one of these providers:<p></td>
  </tr>
  <tr>
    <td><%= button_to "Login with Github", "/auth/github" %></td>
    <td><%= button_to "Login with Facebook", "/auth/facebook" %></td>
  </tr>
</table>
