<h2>Log In</h2>

<% if flash[:error] %>
<p><span class="error-font"><%= flash[:error] %></span></p><br>
<% end %>

<%= form_with scope: "user", method: :post do |f| %>
    <p>
      <%= f.label :email, "Email: " %>
      <%= f.text_field :email, size: "25" %>
    </p>
    <p>
      <%= f.label :password, "Password: " %>
      <%= f.password_field :password, size: "20" %>
    </p>
    <p>
      <%= f.submit "Login" %>
    </p>
<% end %>

<br>

or login with <%= link_to "Github", "/auth/github" %>
<br>
or login with <%= link_to "Facebook", "/auth/facebook" %>