<h2><%= current_user.name %>'s Readings</h2>

<% if @user_entries.blank? %>
  You do not have any readings.
<% else %>

  <div class="summary-display">
    <div class="thoughts-keyword">Monthly Summary</div>
      <table class="summary-table">
        <tr>
          <th>Total readings</th>
          <th>Total cards</th>
          <th>Major cards</th>
          <th>Minor cards</th>
          <th>Court cards</th>
          <th>Cup cards</th>
          <th>Pentacle cards</th>
          <th>Sword cards</th>
          <th>Wand cards</th>
        </tr>
        <tr>
          <td><%= @monthly_entries.size %></td>
          <td><%= @monthly_entries.size * 3 %></td>
          <td><%= @monthly_entries.designation("Major").size %></td>
          <td><%= @monthly_entries.designation("Minor").size %></td>
          <td><%= @monthly_entries.court_cards.size %> <%= "(#{(@monthly_entries.court_cards.size.to_f / @monthly_entries.size * 3).to_i * 10}%)" %></td>
          <td><%= @monthly_entries.suit_cards("Cups").size %></td>
          <td><%= @monthly_entries.suit_cards("Pentacles").size %></td>
          <td><%= @monthly_entries.suit_cards("Swords").size %></td>
          <td><%= @monthly_entries.suit_cards("Wands").size %></td>
        </tr>
      </table>
        
        <p class="centered">
        <% if @duplicate_cards_hash.any? %>
          <% @duplicate_cards_hash.each do |name, count| %>
            You pulled <span class="pink-color"><%= name %></span> <%= count %> times.<br>
          <% end %>
        <% else %>
          You have not pulled the same card more than three times this month.
        <% end %>
        </p>
  </div>

<p></p>

  <table class="all-entries">
    <% @user_entries.each do |entry| %>
      <tr>
        <td>
          <%= entry.title unless entry.title.nil? %>
        </td>
        <td>
          <%= entry.category.name %>
        </td>
        <td>
          <%= link_to entry.created_at.strftime("%B %e, %Y"), entry_path(entry) %>
        </td>
        <td>
          <%= entry.thoughts.size %> thoughts
        </td>
        <td>
          <%= button_to "Delete Reading", entry_path(entry), method: :delete, onclick: "return confirm('Are you sure you want to delete this reading?')" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>