<h2><%= current_user.name %>'s Readings</h2>

<% if @entries.blank? %>
  You do not have any readings.
<% else %>

  This Month:<br>
    Total cards pulled: <%= @monthly_entries.size %><br>
    Major cards: <%= @major_entries.size %> - Minor cards: <%= @minor_entries.size %><br>
    Court cards: <%= @court_cards.size %> out of <%= @monthly_entries.size %><br>
    # of cards with numbers for each number if pulled more than 3 times:<br>
    # of cards for each suit:<br>
    # of cards pulled more than 3 times? (You pulled Star card 4 times)<br>

  <table>
    <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= entry.category.name %>
        </td>
        <td>
          <%= link_to entry.created_at.strftime("%B %e, %Y"), entry_path(entry) %>
        </td>
        <td>
          <%= button_to "Delete Reading", entry_path(entry), method: :delete, onclick: "return confirm('Are you sure you want to delete this reading?')" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>