<h2>New Reading</h2>

<% @entry.errors[:category].each do |msg| %>
    <span class="error-font"><%= msg unless msg == @entry.errors[:category].first %></span>
<% end %>

<%= form_for([@user, @entry]) do |f| %>
    <h4>Enter a title: (optional)</h4>
    <%= f.text_field :title, size: "35" %><br>
    <br><hr>
    <p>
      <h4>Select an existing spread for your reading:</h4>
      <%= f.collection_select :category_id, Category.all.limit(5), :id, :name, include_blank: true %>
    </p>
    <p>&nbsp;</p>
    <p>
      <h4>Or, create your own spread:</h4>
      <%= f.fields_for :category do |c| %>
        <%= c.label :question_1, "Question 1:" %>
        <%= c.text_field :question_1, size: "65", placeholder: "Ask a question about something you are seeking guidance on" %><br>
        <br>
        <%= c.label :question_2, "Question 2:" %>
        <%= c.text_field :question_2, size: "65", placeholder: "Ask a question about something you are seeking guidance on" %><br>
        <br>
        <%= c.label :question_3, "Question 3:" %>
        <%= c.text_field :question_3, size: "65", placeholder: "Ask a question about something you are seeking guidance on" %><br>
      <% end %>
    </p>
    <hr>
    <h4>Then, pull three cards to create a new reading:</h4>
    <%= f.submit "Pull Card", class: "pull-card" %>
<% end %>



