<h2>New Reading</h2>

<%= form_for @entry do |f| %>
    <%= hidden_field %>
    <%= f.fields_for :cards %>
    <%= f.fields_for :thoughts do |t| %>
        <%= t.text_area :content %>
    <% end %>


<% end %>