<% if @entry.cards.size == 1 %>
  <h2>New Reading</h2>
  <h4>Pull two more cards...</h4>
  <%= button_to "Pull Card", user_entries_path(@user), method: :post, params: {"entry_id" => @entry.id} %>
<% elsif @entry.cards.size == 2 %>
  <h2>New Reading</h2>
  <h4>Pull one more card...</h4>
  <%= button_to "Pull Card", user_entries_path(@user), method: :post, params: {"entry_id" => @entry.id} %>
<% elsif @entry.cards.size == 3 %>
  <h2>Reading</h2>
  <%= @entry.created_at.strftime("%B %e, %Y at %l:%M%p") %>
    <p>
      <% @entry.cards.each do |card| %>
        <p>
          <%= card.name %><br>
          <%= card.meaning %><br>
        </p>
      <% end %>
    </p>
<% end %>