<% if @entry.cards.size == 1 %>
  <h2>New Reading</h2>
  <h4>Pull two more cards...</h4>
  <%= button_to "Pull Card", user_entries_path(@entry.user), method: :post, class: "pull-card", params: {"entry_id" => @entry.id} %>
<% elsif @entry.cards.size == 2 %>
  <h2>New Reading</h2>
  <h4>Pull one more card...</h4>
  <%= button_to "Pull Card", user_entries_path(@entry.user), method: :post, class: "pull-card", params: {"entry_id" => @entry.id} %>
<% elsif @entry.cards.size == 3 %>
  <h2>Reading</h2>

  <div class="justified">
    <div class="centered">
      <span id="entry-date"><%= @entry.created_at.strftime("%B %e, %Y at %l:%M%p") %></span>
      <p>
          <span class="category-name"><%= @entry.category.name.upcase %></span>
          <p>
            You pulled
              <% @entry.cards.each do |card| %>
                <span class="card-name"><%= link_to card.name.upcase, card_path(card) %></span><%= ',' unless card == @entry.cards.last %>
              <% end %>
          </p>
    </div>
      </p>
      <br>
        <span class="question-title"><%= @entry.category.question_1 %></span><br>
        <span class="card-name"><%= @entry.cards[0].name %><%= " (#{@entry.cards[0].number})" if @entry.cards[0].designation == "Major" %></span><br>
        <%= @entry.cards[0].meaning %><br>
      </p>
      <p>
        <span class="question-title"><%= @entry.category.question_2 %></span><br>
        <span class="card-name"><%= @entry.cards[1].name %><%= " (#{@entry.cards[1].number})" if @entry.cards[1].designation == "Major" %></span></br>
        <%= @entry.cards[1].meaning %><br>
      </p>
      <p>
        <span class="question-title"><%= @entry.category.question_3 %></span><br>
        <span class="card-name"><%= @entry.cards[2].name %><%= " (#{@entry.cards[2].number})" if @entry.cards[2].designation == "Major" %></span><br>
        <%= @entry.cards[2].meaning %><br>
      </p>
  </div>

  <p></p>

    <p>
      <% if @thoughts.any? %>
      <div class="thoughts-display">
        <div class="thoughts-keyword">Thoughts</div>
        <p>
          <% @thoughts.each do |thought| %>
            <p>
              <span class="underline"><%= thought.created_at.strftime("%B %e, %Y at %l:%M%p") %></span> - 
              <%= thought.content %>
              <%= button_to "Delete", user_entry_thought_path(@entry.user, @entry, thought), method: :delete, class: "delete-thought", onclick: "return confirm('Are you sure you want to delete this thought?')" %>
            </p>
            <br>
          <% end %>
        <p>
      </div>
    <% end %>
  </p>
  <p>
    <%= form_for([@entry.user, @entry, @entry.thoughts.build]) do |f| %>
      <span class="thoughts-keyword"><%= f.label :content, "Add a thought: " %></span>
      <p>
        <%= f.text_area :content %>
      </p>
      <%= f.submit "Create" %>
    <% end %>
  </p>
<% end %>