<% title "connecTarot - Reading" %>

<% if @entry.cards.size == 1 %>
  <h2>New Reading</h2>
  <p>&nbsp;</p><p>&nbsp;</p>
  <h4>Pull two more cards...</h4>
  <p>&nbsp;</p><p>&nbsp;</p>
  <%= button_to "Pull Card", user_entries_path(@entry.user), method: :post, class: "pull-card", params: {"entry_id" => @entry.id} %><p>&nbsp;</p>
<% elsif @entry.cards.size == 2 %>
  <h2>New Reading</h2>
  <p>&nbsp;</p><p>&nbsp;</p>
  <h4>Pull one more card...</h4>
  <p>&nbsp;</p><p>&nbsp;</p>
  <%= button_to "Pull Card", user_entries_path(@entry.user), method: :post, class: "pull-card", params: {"entry_id" => @entry.id} %><p>&nbsp;</p>
<% elsif @entry.cards.size == 3 %>
  <h2>Reading</h2>
  <%= render partial: "application/flash_message" %><br>

  <div class="justified">
    <div class="centered">
      <span class="category-name"><%= @entry.category.name.upcase %></span>
      <%= display_request_link_if_exists @entry %>
      <p><span id="entry-date"><%= @entry.display_date_created %></span></p>
      
      <div class="centered">
        <% @entry.cards.each do |card| %>
          <%= image_tag card.image, width: "150px", height: "261px" %>
        <% end %>
      </div><br>
    
      <% @entry.cards.each do |card| %>
        <span class="card-name"><%= link_to card.name.upcase, card_path(card) %></span><%= ',' unless card == @entry.cards.last %>
      <% end %>
    </div>
      
    <br><hr><p></p>
    
    <% @entry.cards.each_with_index do |card, index| %>
      <div class="centered">
        <span class="question-title"><%= display_question @entry, index %></span><br>
        You pulled <span class="card-name-small"><%= card.name %><%= " (#{card.number})" if @entry.cards[0].designation == "Major" %></span><p></p>
      </div>
      <%= card.meaning %><p></p>
      <div class="interpretations"><%= display_interpretation_if_request_exists(@entry, index) %></div><p></p>
      <hr>
    <% end %>
  </div>

  <p></p>
  <% if @thoughts.any? %>
    <div class="thoughts-display">
      <div class="thoughts-keyword">Thoughts</div>
      <table>
        <% @thoughts.each do |thought| %>
          <tr>
            <td id="thoughts-align">
              <span class="underline"><%= thought.created_at.strftime("%B %e, %Y at %l:%M%p") %></span> - 
              <%= thought.content %>
            </td>
            <td>
              <%= button_to "Delete", thought_path(thought), method: :delete, class: "delete-thought", onclick: "return confirm('Are you sure you want to delete this thought?')" %>
            </td>
          </tr>
          <tr>
            <td colspan="2"><hr></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  

  <p></p>
    <%= form_for [@entry, @entry.thoughts.build] do |f| %>
      <span class="thoughts-keyword">
        <%= f.label :content, "Add a thought: " %>
      </span>
      <p>
        <%= f.text_area :content %>
      </p>
      <%= f.submit "Create" %>
    <% end %>

<% end %>