<h2>Account</h2>

<table>
  <tbody>
    <tr>
      <td>
        Name: <span class="account-values"><%= @user.name %></span><br>
        Email: <span class="account-values"><%= @user.email %></span><br>
      </td>
      <td>
        <% if @user.image %>
          <%= image_tag @user.image, width: "200", id: "profile-pic" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<p>
    To edit your account information, submit the form below:

    <h5>*required fields</h5>
    <%= form_for @user do |f| %>
    <%= f.label :name, "*Name: " %>
    <%= f.text_field :name, size: "25" %><br>
    <%= f.label :email, "*Email: " %>
    <%= f.text_field :email, size: "33" %><br>
    <%= f.label :password, "*Current Password: " %>
    <%= f.password_field :password, size: "25" %><br>
    <%= f.label :new_password, "New Password: " %>
    <%= f.password_field :new_password, size: "25" %><br>
    <br>
    <%= f.submit "Update Account" %>
    <% end %>
    <br>
    <p>
      If you would like to delete your account, please click the button below:
      <%= button_to "Delete Account", user_path(current_user),  method: :delete, onclick: "return confirm('Are you sure you want to delete your account?')" %>
    </p>
</p>