<h2>Account</h2>

<table class="edit-account">
  <tr>
    <td>
      <%= form_for @user do |f| %>
        <p>
        <div class="centered">To edit your account information, submit the form below:</div>
        <h5>*required field</h5>
          <%= f.label :name, "*Name: " %>
          <%= f.text_field :name, size: "25" %>
        </p>
        <p>
          <%= f.label :email, "*Email: " %>
          <%= f.text_field :email, size: "33" %>
        </p>
        <p>
          <%= f.label :password, "*Current Password: " %>
          <%= f.password_field :password, size: "25" %>
        </p>
        <%= f.label :new_password, "New Password: " %>
        <%= f.password_field :new_password, size: "25" %><br>
        <p>
        <div class="centered"><%= f.submit "Update Account" %></div>
        </p>
      <% end %>
    </td>
    <% if @user.image %>
      <td><%= image_tag @user.image, width: "160", id: "profile-pic" %></td>
    <% end %>
  </tr>
</table>

<hr><br>
If you would like to delete your account, please click the button below:
<p></p>
<%= button_to "Delete Account", user_path(current_user),  method: :delete, onclick: "return confirm('Are you sure you want to delete your account?')" %>
