<h2>Account</h2>

<% if @user.image %>
  <%= image_tag @user.image, width: "200", id: "profile-pic" %>
<% end %>

<p></p>

To edit your account information, submit the form below:

<%= form_for @user do |f| %>
<p>
<h5>*required fields</h5>
  <%= f.label :name, "*Name: " %>
  <%= f.text_field :name, size: "25" %>
</p>
<p>
  <%= f.label :email, "*Email: " %>
  <%= f.text_field :email, size: "33" %>
</p>
<p>
  <%= f.label :password, "*Current Password: " %>
  <%= f.password_field :password, size: "25" %>
</p>
<%= f.label :new_password, "New Password: " %>
<%= f.password_field :new_password, size: "25" %><br>
<p>
  <%= f.submit "Update Account" %>
  <% end %>
</p>
<p>
  If you would like to delete your account, please click the button below:
  <%= button_to "Delete Account", user_path(current_user),  method: :delete, onclick: "return confirm('Are you sure you want to delete your account?')" %>
</p>