<% title "connecTarot - Sign Up" %>
<h2>Sign Up</h2>
<%= render partial: "application/errors", locals: {object: @user} %>

<h5>All fields required.</h5>

<%= form_for @user do |f| %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name, size: "25" %><p></p>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email, size: "25" %><p></p>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password, size: "20" %><p></p>
  <%= f.label :password_confirmation, "Confirm Password: " %>
  <%= f.password_field :password_confirmation, size: "20" %><p></p><br>
  <%= f.submit "Create Account" %>
<% end %>

<p></p>
<table class="omniauth-buttons">
  <tr>
    <td colspan="2">Or, sign up with one of these providers:<p></td>
  </tr>
  <tr>
    <td><%= button_to "Sign Up with Github", "/auth/github" %></td>
    <td><%= button_to "Sign Up with Facebook", "/auth/facebook" %></td>
  </tr>
</table>