<% title "connecTarot - Account" %>
<h2>Account</h2>
<%= render partial: "application/flash_message" %><br>

<div class="account-info">
  <%= display_user_photo @user %>
  <span class="purple-color">Name:</span> <%= @user.name %><p></p>
  <span class="purple-color">Email:</span> <%= @user.email %><p>&nbsp</p>
  <table>
    <tr>
      <td><%= button_to "Edit Account", edit_user_path(current_user),  method: :get %></td></td>
      <td><%= button_to "Delete Account", user_path(current_user),  method: :delete, onclick: "return confirm('Are you sure you want to delete your account?')" %></td>
    </tr>
  </table>
</div>