<% title "connecTarot - Requests" %>
<h2>Reading Requests</h2>
<%= render partial: "application/flash_message" %><br>

<% if @requests.any? %>
  <%= form_tag requests_path, method: 'get' do %>
    Search by name:
    <%= text_field_tag :name %>
    <%= submit_tag 'Search' %><p></p>
  <% end %>

  <table class="all-requests">
    <% @requests.each do |request| %>
      <tr>
        <td id="request-title">
          <span class="pink-color"><%= link_to request.title, request_path(request) %></span>
        </td>
        <td>
          <div class="small-text">
            Requested on <%= request.display_date_created %> by <span class="purple-color"><%= requestor_name request %></span><br>
            <%= display_responder_if_present request %>
          </div>
        </td>
        <td><%= display_buttons request %></td>
      </tr>
      <tr><td colspan="3" id="request-description"><%= request.description %></td></tr>
      <tr><td colspan="3"><% if request != @requests.last %><hr><% end %></td></tr>
    <% end %>
  </table>
<% else %>
  There are currently no requests
<% end %>