<h2>Reading Requests</h2>

<% if flash[:error] %>
<p><span class="error-font"><%= flash[:error] %></span></p>
<% end %>

<% if @requests.any? %>
    <table class="all-requests">
  <% @requests.each do |request| %>
      <tr>
        <td id="request-title">
          <span class="pink-color"><%= request.title %></span>
        </td>
        <td>
          <%= request.created_at.strftime("%B %e, %Y at %l:%M%p") %> by <span class="purple-color"><%= request.requestor.name %></span>
        </td>
        <td>
          <% if request.responder.nil? %>
            <%= button_to "Accept Request", request_path(request), method: "patch", class: "accept-button" %>
          <% else %>
            <button type="button">Fulfilled</button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="3" id="request-description">
          <%= request.description %>
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td colspan="3"><hr></td>
      </tr>
  <% end %>
    </table>
<% else %>
  "There are currently no requests."
<% end %>