<h2>Request a Reading</h2>

<%= render partial: "layouts/errors", locals: {object: @request} %>

<%= form_for @request do |f| %>
  <%= f.hidden_field :requestor_id, value: current_user.id %>
  <%= f.label :title, "Title:" %><br>
  <%= f.text_field :title, size: "35" %>
  <p>&nbsp;</p>
  <%= f.label :description, "Describe (in detail) what you are seeking:" %><br>
  <%= f.text_area :description %>
  <p>&nbsp;</p>
  <%= f.submit %>
<% end %>