<h2>Request a Reading</h2>

<% @request.errors.full_messages.each do |msg| %>
    <span class="error-font"><%= msg %></span>
<% end %>

<%= form_with model: @request do |f| %>
  <%= f.hidden_field :requestor_id, value: current_user.id %>
  <p>
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title, size: "35" %>
    <p>&nbsp;</p>
  </p>
  <p>
    <%= f.label :description, "Describe (in detail) what you are seeking:" %><br>
    <%= f.text_area :description %>
  </p><br>
  <%= f.submit %>
<% end %>