<h2>Reading Request</h2>

<p>
  Request created by: <span class="pink-color"><%= @request.requestor.name %></span><br>
  Request accepted by: <span class="pink-color"><%= @request.responder.name if @request.responder %></span>
</p>


<p>
  <span class="category-name"><%= @request.title %></span><br>
  <div class="justified"><%= @request.description %></div>
</p>

<% if @request.responder %>
  <%= form_for([@request.requestor, @entry]) do |f| %>
    <%#= f.hidden_field :requestor_id, value: current_user.id %>
    <%= f.hidden_field :category_id, value: 6 %>
    <%= f.fields_for :card_ids do |c| %>
      <p>Select three cards:</p>
      <%= c.collection_select(nil, Card.all, :id, :name, {include_blank: true}) %>
      <%= c.collection_select(nil, Card.all, :id, :name, {include_blank: true}) %>
      <%= c.collection_select(nil, Card.all, :id, :name, {include_blank: true}) %>
    <% end %>
    <p>
      <%= f.label :interpretation, "Interpretation:" %><br>
      <%= f.text_area :interpretation %>
    </p>
    <%= f.submit "Submit Reading" %>
  <% end %>
<% end %>