<h2>Reading Request</h2>

<p>
  Request created by: <span class="pink-color"><%= @request.requestor.name %></span><br>
  Request accepted by: <span class="pink-color"><%= @request.responder.name %></span>
</p>


<p>
  <span class="category-name"><%= @request.title %></span><br>
  <div class="justified"><%= @request.description %></div>
</p>

<%= form_for @entry do |f| %>
<% end %>