<h2>Reading Request</h2>

<p>
  Request created by: <span class="pink-color"><%= @request.requestor.name %></span><br>
  Request accepted by: <span class="pink-color"><%= @request.responder.name if @request.responder %></span>
</p>


<p>
  <span class="category-name"><%= @request.title %></span><br>
  <div class="justified"><%= @request.description %></div>
</p>

<% if @request.entry %>
  <p>
    <span class="card-name-small"><%= @request.entry.cards[0].name %></span>
    <div class="interpretations">
      <%= @request.entry.interpretation_1 %>
    </div>
  </p>
  <p>
    <span class="card-name-small"><%= @request.entry.cards[1].name %></span>
    <div class="interpretations">
      <%= @request.entry.interpretation_2 %>
    </div>
  </p>
  <p>
    <span class="card-name-small"><%= @request.entry.cards[2].name %></span>
    <div class="interpretations">
      <%= @request.entry.interpretation_3 %>
    </div>
  </p>
<% elsif @request.responder %>
  <%= form_for [@request.requestor, @entry] do |f| %>
    <%= f.hidden_field :request_id, value: @request.id %>
    <%= f.hidden_field :responder_id, value: @request.responder.id %>
    <%= f.hidden_field :category_id, value: 6 %>
    <%= f.fields_for :card_ids do |c| %>
      <p>Select three cards:</p>
      <p>
        <%= c.label "Card #1:" %><br>
        <%= c.collection_select(nil, Card.all, :id, :name, {include_blank: true}) %>
      </p>
      <p>
        <%= c.label "Card #2:" %><br>
        <%= c.collection_select(nil, Card.all, :id, :name, {include_blank: true}) %>
      </p>
      <p>
        <%= c.label "Card #3:" %><br>
        <%= c.collection_select(nil, Card.all, :id, :name, {include_blank: true}) %>
      </p>
    <% end %>
    <p>&nbsp;</p>
    <p>
      <p>
        <%= f.label :interpretation_1, "Interpretation for Card #1:" %><br>
        <%= f.text_area :interpretation_1 %>
      </p>
      <p>
        <%= f.label :interpretation_2, "Interpretation for Card #2:" %><br>
        <%= f.text_area :interpretation_2 %>
      </p>
      <p>
        <%= f.label :interpretation_3, "Interpretation for Card #3:" %><br>
        <%= f.text_area :interpretation_3 %>
      </p>
    </p>
    <%= f.submit "Submit Reading" %>
  <% end %>
<% end %>