<h2>Reading Request</h2>

<p>
  Request created by: <span class="pink-color"><%= @request.requestor.name %></span><br>
  Request accepted by: <span class="pink-color"><%= @request.responder.name if @request.responder %></span>
</p>


<p>
  <span class="category-name"><%= @request.title %></span><br>
  <div class="justified"><%= @request.description %></div>
</p>

<% if @request.responder %>
  <%= form_for([@request.responder, @entry]) do |f| %>
    <%#= f.hidden_field :requestor_id, value: current_user.id %>
    <p>
      <%= f.label :card_id, "Select card:" %><br>
      <%= f.collection_select :card_ids, Card.all, :id, :name %>
    </p>
    <p>
      <%= f.label :interpretation, "Interpretation:" %><br>
      <%= f.text_area :custom_meaning %>
    </p>
    <%= f.submit %>
  <% end %>
<% end %>