<h2>Reading Request</h2>

<p>
  Request created by: <span class="pink-color"><%= @request.requestor.name %></span><br>
  Request accepted by: <span class="pink-color"><%= @request.responder.name if @request.responder %></span>
</p>


<p>
  <span class="category-name"><%= @request.title %></span><br>
  <div class="justified"><%= @request.description %></div>
</p>

<%= form_for([@request.responder, @entry]) do |f| %>
  <%#= f.hidden_field :requestor_id, value: current_user.id %>
  <%= f.label :card_id, "Select card" %>
  <%= f.collection_select :card_ids, Card.all, :id, :name %>
  <%= f.text_area :custom_meaning %>
  <%= f.submit %>

<% end %>