<% title "connecTarot - #{@card.name}" %>

<h2><%= @card.name %><%= " (#{@card.number})" if @card.designation == "Major" %></h2>

<span id="card-values"><%= @card.designation %> Arcana</span>

<p>
  <%= image_tag @card.image, width: "250px" %>
</p>

<div class="card-body">
    <p>
      <%= @card.meaning %>
    </p>
</div>