<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Giga&family=Roboto+Slab&family=Berkshire+Swash&family=Marck+Script&family=Amatic+SC&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <div class="navigation">
          <span class="nav-logo"><%= link_to "connecTarot", root_path %></span>
          <% if logged_in? %>
            <span class="nav-text"><%= link_to "Requests", requests_path %></span>
            <span class="nav-text"><%= link_to "Cards", cards_path %></span>
            <div class="dropdown">
              <span class="nav-text"><%= link_to "My Tarot", user_entries_path(current_user) %></span> 
              <div class="dropdown-content">
                <div class="who-you-are">
                  <span class="logged-in">You are logged in as<br></span>
                  <span class="user-email"><%= current_user.email %></span><hr>
                </div>
                <div class="highlight"><%= link_to_unless_current "My Readings", user_entries_path(current_user) %></div>
                <div class="highlight"><%= link_to_unless_current "New Reading", new_user_entry_path(current_user.id) %></div>
                <div class="highlight"><%= link_to_unless_current "My Requests", my_requests_path %></div>
                <div class="highlight"><%= link_to_unless_current "New Request", new_request_path %></div><hr>
                <div class="highlight"><%= link_to_unless_current "Account", edit_user_path(current_user) %></div>
                <div class="highlight"><%= link_to "Logout", logout_path, method: "delete" %>
              </div>
            </div>
          <% else %>
            <span class="nav-text"><%= link_to "Sign Up", new_user_path %></span> 
            <span class="nav-text"><%= link_to "Login", login_path %></span>
          <% end %>
          </div>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>
      
    </div>
  </body>

  <footer>
    <p>Created by Doug Schallmoser - <a id="github" href="https://github.com/dougschallmoser" target="_blank">github.com/dougschallmoser</a></p>
  </footer>
  
</html>
