<!DOCTYPE html>
<html>
  <head>
    <title>ConnectarotRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap" rel="stylesheet">
  </head>

  <div class="navigation">
    <header>
      <nav>
      <span class="nav-logo"><%= link_to_unless_current "connecTarot", root_path %></span>
      <% if logged_in? %>
        <span class="nav-text"><%= link_to_unless_current "Request Reading", "/request" %></span>
        <span class="nav-text"><%= link_to_unless_current "My Tarot", user_path(current_user) %></span> 
        <span class="nav-text"><%= link_to_unless_current "Logout", logout_path, method: "delete" %></span>
      <% else %>
        <span class="nav-text"><%= link_to_unless_current "Sign Up", new_user_path %></span> 
        <span class="nav-text"><%= link_to_unless_current "Login", login_path %></span>
      <% end %>
      </nav>
    </header>
  </div>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  
</html>
